@font-face {
    src: url('futura light bt.ttf');
    font-family: Futura;
    font-weight: 300;
}

@font-face {
    src: url('futura_medium_bt.ttf');
    font-family: Futura;
    font-weight: 400;
}

@font-face {
    src: url('Futura\ Bold\ font.ttf');
    font-family: Futura;
    font-weight: 700;
}

@font-face {
    src: url('BebasNeue-Regular.ttf');
    font-family: Bebas Neue;
    font-family: 400;
}